<%- include ('partials/Newheader.ejs') %>
<%- include ('partials/Newnavbar.ejs') %>
<section class="main">   

    <div class="container">
        <div class="container-title">
           <span> Blog</span>
        </div>
        <div class="container-items">
            <% articles.forEach(article =>{ %>
            <div class="box-notice"> 
                <span class="title">
                    <%= article.title %>
                </span>
                <p class="descricao"> <%= article.resumo%></p>
               <a href="/<%= article.slug %>" ><button >ler Mais</button> </a>
            </div>
            <% }) %>
            
        </div>
        <div class="row">
           

    </div>
  
        <a style="float:right" href="/articles/page/2">Next >>></a>
     
    
    <hr>
   </div>
   <hr>

</section>
</body>
<%- include ('partials/footer.ejs') %>